<a href="https://colab.research.google.com/github/outtaflames/Moscow_Cinema_and_Films_1946-1955/blob/main/Moscow_Cinema_1946_1955.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv

In [2]:
from itertools import islice
from operator import itemgetter

In [3]:
import pandas as pd
import pandas as pandasForSortingCSV

In [4]:
from pandas import *

In [5]:
import numpy as np

In [6]:
from collections import Counter

In [7]:
import matplotlib.pyplot as plt

In [8]:
class MoscowCinemas(): # создаем класс для общих файлов по кинотеатрам в Москве
  def __init__(self, filename: str, Cinema, Coordinates, Run, Seats):
    self.filename = filename

  def read_file(self):
    with open (self.filename, 'r') as myfile:
      mcinemas = csv.reader(myfile)
      return mcinemas

In [9]:
 class Moscow_Cinemas_1946_1955(MoscowCinemas):
  def __init__(self, filename: str):
    self.filename = filename
  
  def read_file(self):
    mcinemas = super().read_file()
    return mcinemas

  def new_dataframe(self): # создаем новый датафрейм
      mcinemas_new = pd.read_csv(self.filename)
      source_df = pd.DataFrame(mcinemas_new)
      result_df = source_df.drop(index=[0, 1, 2, 7, 8, 47, 48, 49, 53, 54, 95, 96, 100, 101, 147, 148, 150, 151, 152, 156, 157, 208, 209, 
                                        213, 214, 215, 219, 220, 267, 268, 269, 273, 274, 328, 329, 330, 331, 381, 382, 383, 438,
                                        439, 440, 498, 499, 500], columns=['Unnamed: 4']) # здесь удаляем лишние 46 строк и 1 столбец
      result_df.rename(columns = {'Moscow Cinema Theaters, 1946-1955':'Cinema', 'Unnamed: 1':'City', 'Unnamed: 2':'Location', 
                                  'Unnamed: 3':'Coordinates', 'Unnamed: 5':'Run', 'Unnamed: 6':'Seats', 'Unnamed: 7':'Comments', 
                                  'Unnamed: 8':'Source'}, inplace = True) # здесь меняем названия столбцов, чтобы дальше нам было легче работать
      return result_df 
  
  def run_of_cinema_total(self): # тут посчитаем количество всех кинотеатров в каждом разряде
    df = self.new_dataframe()
    list_of_first = len(df[df['Run']=='1'])
    list_of_second = len(df[df['Run']=='2'])
    list_of_third = len(df[df['Run']=='3'])
    list_of_total = ['Общее количество кинотеатров первого разряда в период с 1946 по 1955 г.г. составляет ' + str(list_of_first),
                      'Общее количество кинотеатров второго разряда в период с 1946 по 1955 г.г. составляет ' + str(list_of_second),
                      'Общее количество кинотеатров третьего разряда в период с 1946 по 1955 г.г. составляет ' + str(list_of_third)]
    return list_of_total

  def total_cinema_in_DF(self): # тут мы считаем количество каждого кинотеатра в датафрейме в общем и целом
    df = self.new_dataframe()
    cinema_list = df['Cinema'].tolist()
    cinema_dict = Counter(cinema_list)
    cinema_dict.most_common()
    return cinema_dict

  def run_of_cinema_unique(self): # тут мы выясняем все имеющиеся разрядности у каждого кинотеатра за период 1946-1955 г.г.
    df = self.new_dataframe()
    df1 = df.groupby('Cinema')['Run'].unique()
    #df2 = df['Cinema'].value_counts()
    #df2 = df.groupby().unique(df[['Cinema', 'Seats', 'Run']].values.ravel())
    #df1.sort_values(['Seats', 'Run'], axis=0, ascending=[False, False], inplace=True)#.groupby('Run')
    return df1

  def cinema_unique(self): # здесь мы считаем количество уникальных значений в столбце "по количеству мест", сгрупированных по "кинотеатрам", "местам" и "разрядности"
    df = self.new_dataframe()
    df1 = df.groupby(['Cinema', 'Seats', 'Run'])['Seats'].nunique()
    #df1 = df.Seats.value_counts()
    #df1 = pd.unique(df[['Cinema', 'Seats', 'Run']].values.ravel())
    return df1 #pd.DataFrame(df1)

  def number_of_unique_run(self): # тут мы считаем уникальное количество встречающихся рязрядов кинотеатров
    df = self.new_dataframe() 
    df1 = df.groupby(['Cinema', 'Run'])['Run'].count()
    return df1

In [10]:
showMe = Moscow_Cinemas_1946_1955('Cinemas_Moscow_1946_1955.csv')

In [17]:
showMe.new_dataframe()

,Cinema,City,Location,Coordinates,Run,Seats,Comments,Source
3,Колизей / Kolizeĭ,"Moscow, SU",Чистые пруды 19-а,"55.761781, 37.645941",1,1000,Union Cinema,RGALI. F. 2473. Op. 1. D. 286. L. 29-30
4,Метрополь / Metropol',"Moscow, SU",Пл. Свердлова 2/4,"55.758448, 37.621669",1,680,Union Cinema,RGALI. F. 2473. Op. 1. D. 286. L. 29-30
5,Москва / Moskva,"Moscow, SU","Пл. Маяковского, 1","55.769494, 37.593533",1,747,Union Cinema,RGALI. F. 2473. Op. 1. D. 286. L. 29-30
6,Ударник / Udarnik,"Moscow, SU","ул. Серафимовича, 2","55.744450, 37.613072",1,1587,Union Cinema,RGALI. F. 2473. Op. 1. D. 286. L. 29-30
9,Авангард / Avangard,"Moscow, SU",Б. Якиманка,"55.731779, 37.611473",1,489,NaN,NaN
...,...,...,...,...,...,...,...,...
555,Шторм / Shtorm,"Moscow, SU","Русаковская, 1","55.78235111103543, 37.67006121362364",1,622,NaN,TCGAM. F. 265. Op. 1. D. 42. L. 72-73
556,Экран жизни / Ėkran zhizni,"Moscow, SU","Садово-Каретная, 45","55.77342398078649, 37.611662769437814",2,565,NaN,TCGAM. F. 265. Op. 1. D. 42. L. 72-73
557,Экспресс / Ėkspress,"Moscow, SU","Цветной бульвар, 25","55.77321250837942, 37.620671571295084",3,253,NaN,TCGAM. F. 265. Op. 1. D. 42. L. 72-73
558,Эрмитаж / Ėrmitazh,"Moscow, SU","Каретный ряд, 3","55.77035848488775, 37.60921074307702",1,652,NaN,TCGAM. F. 265. Op. 1. D. 42. L. 72-73
559,Юный зритель / IUnyĭ zritel',"Moscow, SU","Арбат, 39","55.74853398105157, 37.588827397745554",2,351,NaN,TCGAM. F. 265. Op. 1. D. 42. L. 72-73

In [15]:
showMe.run_of_cinema_total()

['Общее количество кинотеатров первого разряда в период с 1946 по 1955 г.г. составляет 243',
 'Общее количество кинотеатров второго разряда в период с 1946 по 1955 г.г. составляет 158',
 'Общее количество кинотеатров третьего разряда в период с 1946 по 1955 г.г. составляет 78']

In [16]:
showMe.total_cinema_in_DF()

Counter({'Колизей / Kolizeĭ': 8,
         "Метрополь / Metropol'": 7,
         'Москва / Moskva': 8,
         'Ударник / Udarnik': 6,
         'Авангард / Avangard': 10,
         'Аврора / Avrora': 10,
         'Арс / Ars': 8,
         'Баррикады / Barrikady': 10,
         'Востоккино / Vostokkino': 1,
         'Динамо / Dinamo': 9,
         'Диск / Disk': 10,
         'Заря / Zaria': 10,
         'им. III Интернационала / im. III Internatsionala': 8,
         'Кадр / Kadr': 10,
         "Кинотеатр повторного фильма / Kinoteatr povtornogo fil'ma": 10,
         'Луч / Luch': 10,
         'Мир / Mir': 10,
         'Молот / Molot': 10,
         'Наука и знание / Nauka i znanie': 10,
         'Новости дня / Novosti dnia': 10,
         "Октябрь / Oktiabr'": 10,
         'Орион / Orion': 10,
         'Перекоп / Perekop': 10,
         "ПКиО Сокольники / PKIO Sokol'niki": 8,
         'Родина / Rodina': 5,
         'Сад им. Баумана / Sad im. Baumana': 8,
         'Сад Эрмитаж / Sad Ėrmitazh': 8,
         'Смена / Smena': 10,
         'Спартак / Spartak': 10,
         'Таганский / Taganskiĭ': 10,
         'Таганский ПКиО / Taganskiĭ PKIO': 3,
         'Театр киноактера / Teatr kinoaktera': 8,
         'Уран / Uran': 10,
         'Форум / Forum': 10,
         'Хроника / Khronika': 10,
         'Художественный / Khudozhestvennyĭ': 10,
         "Центральный / Tsentral'nyĭ": 10,
         "ЦПКиО им. Горького / TSPKiO im. Gor'kogo": 10,
         'Шторм / Shtorm': 10,
         'Экран жизни / Ėkran zhizni': 10,
         'Экспресс / Ėkspress': 10,
         "Юный зритель / IUnyĭ zritel'": 10,
         'Салют / Salut': 2,
         'Стереокино / Stereokino': 9,
         'Эрмитаж / Ėrmitazh': 8,
         'Аквариум / Akvarium': 8,
         'Дзержинский ПКиО / Dzerzhinskiĭ PKiO': 6,
         'Измайловский ПКиО имени Сталина / Izmaĭlovskiĭ PKiO imeni Stalina': 6,
         'Искра / Iskra': 8,
         "Кинозал короткометражного фильма / Kinozal korotkometrazhnogo fil'ma": 8,
         "ПКиО Сокольники / PKiO Sokol'niki": 2,
         'Победа / Pobeda': 2,
         'Салют / Saliut': 1,
         'Ждановский ПКиО (Таганский ПКиО) / Zhdanovskiĭ PKiO (Taganskiĭ PKiO)': 1,
         'Красная Пресня / Krasnaia Presnia': 3,
         'Открытый кинотеатр (Усачёвский сквер) / Otkrytyĭ kinoteatr (Usachëvskiī skver)': 4,
         'Открытый кинотеатр в парке им. Воровского / Otkrytyĭ kinoteatr v parke im. Vorovskogo': 4,
         'Призыв / Prizyv': 7,
         'Main Venue': 1,
         'Blue Venue': 1,
         'Ждановский ПКиО / Zhdanovskiĭ PKiO ': 2,
         'им. Моссовета / im. Mossoveta': 6,
         'Маяк 2-х зальный / Maiak, 2 venues': 5,
         'Родина 2-х зальный / Rodina, 2 venues': 5,
         'Салют 2-х зальный / Saliut, 2 venues': 6,
         "ВСХВ большой зал / VSKHV bol'shoī zal": 3,
         'ВСХВ малый зал / VSKHV malyī zal': 3,
         'Ждановский ПКиО / Zhdanovskiĭ PKiO': 2,
         'Колизей / Kolizeī': 2,
         'Маяк / Maiak': 1,
         'Ударник 2-х зальный / Udarnik, 2 venues': 2,
         "Метрополь 3-х зальный / Metropol', 3 venues": 3,
         'Дружба / Druzhba': 2,
         'Звезда / Zvezda': 2,
         'Знамя / Znamia': 2,
         'Красная Пресня / Krasnaia presnia': 1,
         'Москва': 2,
         'Радуга / Raduga': 2,
         'Ударник, включая малый и красный залы, 496 мест / Udarnik, including small and reed venues of 496 places': 2,
         'Молния 2-х зальный / Molniia, 2 venues': 1,
         'Отдых / Otdykh': 1,
         'Пионер / Pioner': 1,
         'Пламя 2-х зальный / Plamia,2 venues': 1,
         'Слава 2-х зальный / Slava, 2 venues': 1})

In [14]:
showMe.run_of_cinema_unique()

Cinema
Blue Venue                                             [1]
Main Venue                                             [1]
Авангард / Avangard                                 [1, 2]
Аврора / Avrora                                        [3]
Аквариум / Akvarium                                    [2]
                                                     ...
Экспресс / Ėkspress                                 [2, 3]
Эрмитаж / Ėrmitazh                                     [1]
Юный зритель / IUnyĭ zritel'                           [2]
им. III Интернационала / im. III Internatsionala       [2]
им. Моссовета / im. Mossoveta                          [1]
Name: Run, Length: 84, dtype: object

In [13]:
showMe.cinema_unique()

Cinema                                            Seats   Run
Blue Venue                                        196     1      1
Main Venue                                        924     1      1
Авангард / Avangard                               463     2      1
                                                  489     1      1
                                                  489/26  1      1
                                                                ..
им. III Интернационала / im. III Internatsionala  428     2      1
                                                  431/30  2      1
                                                  455     2      1
им. Моссовета / im. Mossoveta                     684     1      1
                                                  705     1      1
Name: Seats, Length: 217, dtype: int64

In [12]:
showMe.number_of_unique_run()

Cinema                                            Run
Blue Venue                                        1       1
Main Venue                                        1       1
Авангард / Avangard                               1       6
                                                  2       4
Аврора / Avrora                                   3      10
                                                         ..
Экспресс / Ėkspress                               3       4
Эрмитаж / Ėrmitazh                                1       8
Юный зритель / IUnyĭ zritel'                      2      10
им. III Интернационала / im. III Internatsionala  2       8
им. Моссовета / im. Mossoveta                     1       6
Name: Run, Length: 91, dtype: int64

Далеее идут наработки, которые нужно будет удалить

In [ ]:
class Top10Cinemas(MoscowCinemas):
  def __init__(self, filename: str):
    self.filename = filename

  def read_file(self):
    mcinemas = super().read_file()
    return mcinemas
  
  def new_dataframe(self): # создаем новый датафрейм с нужными нам колонками
    df = pd.read_csv(self.filename, usecols = ['Cinema', 'Coordinates', 'Run', 'Seats'])
    return df

  def 
  def estimation(self): # тут мы отсортируем по убыванию оценки и кол-во оценивших (, и покажем в процентном сообношении от самого большого числа проголосовавших)
    estimation_sort = pandasForSortingCSV.read_csv(self.filename, usecols = ['title', 'score', 'scored_by', 'genres'])
    estimation_sort.sort_values(['score', 'scored_by'], axis=0, ascending=[False, False], inplace=True)
    return estimation_sort

  def top10(self): # тут мы отбираем только первые 10 строк с информацией, которые пнадобятся для построения визуализации
    #df_top10 = pd.read_csv(self.filename, nrows=10)
    df_top10 = self.estimation()
    return df_top10.head(10)
    #loc[:10]

  def tokenize_genres(self): # Я НЕ ПОНИМАЮ ПОЧЕМУ ОН ПОКАЗЫВАЕТ ПУСТОЙ СПИСОК НЕ ПОНИМАЮ И ВСЕ АААААА
    list1 = []
    data = self.new_dataframe()
    genres_list = list1.append(data['genres'].tolist())
    genres_dict = Counter(genres_list)
    return genres_dict.most_common()

  def most_popular_genres1(self): # тут мы смотрим, какие жанры самые популярные 
    df = self.new_dataframe()
    genre_list = df['genres'].tolist()
    genre_dict = Counter(genre_list)
    return genre_dict.most_common()[:5] # по сути тут можно поставить любое число, которое покажет кол-во жанров

  def visualize_top10_score(self): # рисуем plot bar для топ-10 аниме по рейтингу
    v_plot = self.top10()
    v_plot.groupby('title').max().plot.bar(y='score')
    plt.title('Топ-10 Аниме по Рейтингу')
    return plt.show()
  
  def visualize_top10_scored_by(self): # рисуем plot bar для топ-10 аниме по популярности
    v_plot = self.top10().groupby('title').max().plot.bar(y='scored_by')
    plt.title('Топ-10 Аниме по Популярности')
    return plt.show()